body {
  background-image: linear-gradient(
    125deg,
    #ffffff 0 20%,
    #cdcdcd 20% 25%,
    #76bd55 25% 65%,
    #3d9144 65% 70%,
    #1a6e4a 70% 75%,
    #194834 75% 100%
  );
  overflow-y: auto;
  overflow-x: hidden;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: auto;
  }
}
