body {
  background-image: linear-gradient(
    125deg,
    #ffffff 0 20%,
    #cdcdcd 20% 25%,
    #76bd55 25% 65%,
    #3d9144 65% 70%,
    #1a6e4a 70% 75%,
    #194834 75% 100%
  );
  overflow-y: auto;
  overflow-x: hidden;
}

#loader-container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #999999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: auto;
  }
}
