body {
  background-image: linear-gradient(
    125deg,
    #ffffff 0 20%,
    #cdcdcd 20% 25%,
    #76bd55 25% 65%,
    #3d9144 65% 70%,
    #1a6e4a 70% 75%,
    #194834 75% 100%
  );
  overflow-y: auto;
  overflow-x: hidden;
}

#loader-container {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100vh;
}

#loader {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid #3498db;
  width: 148px;
  height: 148px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: auto;
  }
}
